@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

[data-theme="light"] {
  --font-color: yellow;
  --bg: #fff;
}
[data-theme="dark"] {
  --font-color: green;
  --bg: #000;
}

body {
  color: var(--font-color);
  background-color: var(--bg);
}
